* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*buttons background*/
.top {
    background-color: lightblue;
    height: 30vh;
}

.middle {
    background-color: lightcoral;
    height: 55vh;
}

.bottom {
    background-color: greenyellow;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 5vh;
    background-color: lightslategray;
}


button {
    background-color:green;
}

.buttons #draw-card {
    background-color: red;
    font-size: 50px;;
    border-radius: 8px;
    width: 280px;
}

.buttons #hold {
    background-color: blue;
    font-size: 50px;
    border-radius: 8px;
    width: 280px;
}


