* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: gold;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.top {
    background-color: red;
    height: 40vh;
}

.middle {
    background-color: green;
    height: 40vh;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
/*player1 cards*/
.player1 {
    background-color: white;
    border-radius: 10px;
}

.bottom {
    background-color: gold;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 5vh;
    background-color: lightslategray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    background-color:green;
}

.buttons #draw-card {
    background-color: red;
    font-size: 50px;;
    border-radius: 8px;
    width: 280px;
}

.buttons #hold {
    background-color: blue;
    font-size: 50px;
    border-radius: 8px;
    width: 280px;
}


